/* --- Configurações gerais --- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
    outline: none;
}

/* --- Container principal --- */
.generator-box-shadow-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1100px;
    gap: 50px;
    margin: auto;
    padding: 2rem .4rem;
}

.generator-box-shadow-container h2 {
    text-align: center;
}

.generator-box-shadow-container div {
    flex: 1 1;
}

/* --- Container de configuração do box-shadow --- */
.controls-generation h2 {
    margin-bottom: 20px;
}

.form-controls {
    display: flex;
    padding: 20px 0;
    gap: 20px;
    border-bottom: 1px solid #ddd;
}

.range-input {
    display: flex;
    flex-direction: column;
    min-width: 80%;
}

.range-input label {
    margin-bottom: 20px;
}

.inset {
    width: 20px;
    height: 20px;
}

.reference-control {
    display: flex;
    align-items: center;
    gap: 6px;
}

.reference-control input {
    width: 40px;
    height: 40px;
    text-align: center;
}

.range-input input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 24px;
    background: #d3d3d3;
}

.range-input input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    /* background: #e9d60a; */
    background: rgba(0, 0, 0, 0.546);
    cursor: pointer;
}

/* Container preview */
.box {
    width: 100%;
    height: 300px;
    background: #e9d60a;
}

.preview h2 {
    margin-bottom: 20px;
}

/* Área de geração */
.gerenated-rule {
    text-align: center;
    background: #d4d4d4;
    padding: 1rem .8rem;
    color: #262626;
}

.gerenated-rule h3 {
    margin-bottom: 20px;
}

.gerenated-rule p {
    margin-bottom: .5rem;
}

.rules-area {
    background: #d3d3d3;
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid #7e7e7e;
    padding: 1rem;
    font-size : 14px;
}

/* --- Responsividade --- */
@media (max-width: 600px) {
  .generator-box-shadow-container {
    flex-direction: column;
    padding: 3rem 2rem;
  }
}