@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg-clear: #262626;
  --bg-clear-footer: #262626;
  --font-color1: #fff;
  --font-color2: #ddd;
  --font-color3: #ffd700;
  --font-color4: #ffd700;
}

:root.dark-mode {
  --bg-clear: #fff;
  --bg-clear-footer: #fff;
  --font-color1: #262626;
  --font-color2: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
  list-style: none;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.container-a {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

/* header */
header {
  position: sticky;
  top: 0;
  background: var(--bg-clear);
  z-index: 1;
}

.bar-nav {
  display: flex;
  padding: 1rem 1rem;
  justify-content: space-between;
}

.social {
  display: flex;
  gap: 30px
}

.social-img,
.themeMode {
  cursor: pointer;
}

nav ul {
  display: flex;
  gap: 15px;
}

nav ul li a {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: var(--font-color2);
  transition: .3s;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ffd700;
  text-shadow: 0px 0px 20px #ffd700;
}

.listSideBar {
  display: none;
}

/* section description */
main {
  padding: 1rem;
  background: var(--bg-clear);
}

section {
  padding: 5rem 0;
  min-height: 500px
}

.description h1 {
  font-size: 60px;
  font-weight: 600;
  color: var(--font-color1);

}

.description h1 span {
  color: var(--font-color4);
  font-size: 60px;
}

.description h2 {
  margin-bottom: 1.3rem;
  font-size: 30px;
  color: var(--font-color3);
}

.description h2 span {
  color: var(--font-color1);
  font-weight: normal;
}

.description p {
  width: 100%;
  max-width: 700px;
  font-size: 20px;
  margin-bottom: 2.5rem;
  color: var(--font-color2);
}

/* download cv */
.download-cv {
  border: 1.5px solid #ffd700;
  width: max-content;
  padding: 8px 12px;
  border-radius: 10px;
  color: #ffd700;
  transition: .3s;
  cursor: pointer;
  font-size: 20px;
}

.download-cv h3 {
  font-weight: normal;
}

.download-cv:hover {
  background: #ffd700;
  color: #fff;
  box-shadow: 0px 0px 20px #ffd700;
}

.linguagens {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.linguagens h3 {
  font-size: 30px;
  margin-bottom: 40px;
  color: #ffd700;
  font-weight: bold;
}

.linguagens ul {
  display: flex;
  justify-content: center;
  gap: 30px
}

.filterDarkIcon {
  filter: brightness(50%);
}

.icon-l {
  transition: .3s;
}

.icon-l:hover {
  transform: scale(1.1);
}

.js:hover {
  filter: brightness(100%) drop-shadow(0px 0px 30px #f3dc4c);
}

.html:hover {
  filter: brightness(100%) drop-shadow(0px 0px 30px #e44b22);
}

.css:hover {
  filter: brightness(100%) drop-shadow(0px 0px 30px #234ce4);
}

/* section projetos */
.projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projetos h2 {
  font-size: 28px;
  text-align: center;
  color: var(--font-color2);
}

.projetos h2 span {
  color: #ffd700;
  font-weight: bold;
}

.box-projetos {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
}

.projeto {
  position: relative;
  background: #ddd;
  width: 420px;
  height: 250px;
  border-radius: 3px;
  padding: 4px;
  display: flex;
  align-items: end;
}

.name-projeto {
  opacity: 0;
  transition: .3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.projeto:hover .name-projeto {
  opacity: 1;
}

.acction {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

/* footer */
footer {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-clear-footer);
}

.footer-social ul {
  display: flex;
  gap: 20px;
}

.footer-social {
  margin-bottom: 20px;
}

@media (max-width: 550px) {
  .listSideBar {
    display: block;
  }

  nav {
    display: none;
  }

  .description h1 {
    font-size: 35px;
  }

  .description h2 {
    font-size: 19px;
  }

  .description p {
    font-size: 18px;
  }
}

@media (max-width: 460px) {
  .projeto {
    width: 100%;
  }
}